@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Viga&display=Cormorant+Garamond&Nanum+Myeongjo&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;	
}

body{
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #F2F0E9;
	width: 100%;
	height: 100%;
	
}
a{
	color: black;
	display: block;
	padding: 3px;
	text-decoration: none;
}

nav {
	position: fixed;
	display: inline-block;
	top: 0;
	width: 100vw;
	background-color:#F2F0E9;
	color: black;
	font-family: serif;
	font-size: 2vh;
	z-index: 1;	

}

nav > div {
	padding: 2vh;
	width: 16.5vw;
	text-align: center;
	display: inline;
	float: left;
}

		
nav > div :hover{
	background-color: #F2F0E9;
	color: #333333;
	border-bottom: 2px solid black;

}

h1 {
	margin-top: 3vh;
	text-align: center;
	font-family: Cormorant Garamond, serif;
	font-size: 4.8vh;
	letter-spacing: 2.4px;
} 

h3 {
	position: fixed;
	margin-top: 60px;
	left: 1vw;
	font-size: 1.8vh;
	letter-spacing: 2.7px;
	transform: rotate(270deg);
}

p {
	font-family: Cormorant Garamond, serif;
}

h2 {
	font-size: 3vh;
	padding:10px 0;
	font-family:  Cormorant Garamond, serif;
}

section#line{
	height:1px;
	width:80vw;
	margin: 8vh 10vw 0;
	background-color: black;
}

.background{
	width: 80vw;
	height: 78vh;
	margin-top: 3vh;
	margin-left: 10vw;
}

div#container{
	position: absolute;
	text-align: left;
	height: 40vh;
	width:30vw;
	margin-left: 530px;
	top: 250px;
	background-color: white;
	opacity: 0.8;
	box-shadow: 2px 4px 8px #656565;
	color: black;
	padding: 90px 40px;
	font-size: 1.8vh;
	font-family: font-family: 'Nanum Myeongjo', serif;
	letter-spacing: 1.3px;
	text-align: center;
}
section#line2{
	height:1px;
	width:80vw;
	margin: 7vh 10vw 0;
	background-color: black;
}

.onetwo{
	display: inline-block;
	width: 70vw;
	height: 500px;
	margin-left: 15vw;
	margin-right: 15vw;
	padding-top: 4vh;
	overflow: hidden;
}

.threefour{
	display: inline-block;
	width: 70vw;
	height: 500px;
	margin-left: 15vw;
	margin-right: 15vw;
	padding-top: 4vh;
	overflow: hidden;	
}

.five{
	display: inline-block;
	width: 70vw;
	height: 560px;
	margin-left: 15vw;
	margin-right: 15vw;
	padding-top: 4vh;
	padding-bottom: 3vh;
	overflow: hidden;	
}

img{
  max-width: 100%;
  max-height: 100%;
}
div#pictured{
	width: 480px;
	height: 480px;
	float: left;
}
div#picture2d{
	width: 480px;
	height: 480px;
	float: right;
}

div#picture3d{
	width: 480px;
	height: 480px;
	float: left;
}
div#picture4d{
	width: 480px;
	height: 480px;
	float: right;
}

div#picture5d{
	width: 480px;
	height: 480px;
	float: left;
}

.picture{
	width: 480px;
	height: 480px;

}

.picture2{
	width: 480px;
	height: 480px;
}

.picture3{
	width: 480px;
	height: 480px;

}

.picture4{
	width: 480px;
	height: 480px;

}

.picture5{
	width: 480px;
	height: 480px;

}


div#pictured:hover{
	opacity: 0.8;
}

div#picture2d:hover{
	opacity: 0.8;
}

div#picture3d:hover{
	opacity: 0.8;
}

div#picture4d:hover{
	opacity: 0.8;
}

div#picture5d:hover{
	opacity: 0.8;
}


div#container2 {
	position: fixed;
	text-align: center;
	height: 100%;
	width:85%;
	margin-left: 15%;
	margin-top: 7%;
	background-color: #F4F2EC;
	color: black;
	padding: 40px 40px;
	font-family: sans-serif;
}

div#home{
	text-align: center;
	height: 50%;
	width: 30%;
	margin-left: 20%;
	margin-top: 8%;

}

div#home2{
	text-align: center;
	height: 50%;
	width: 30%;
	margin-left: 20%;
	margin-top: 3%;

}

div#home3{
	text-align: center;
	height: 50%;
	width: 30%;
	margin-left: 20%;
	margin-top: 3%;
}
section#Renaissance{
	background-color: #0B1A2F;
	color: white;
	border: 4px solid #C4D5D1;
	height: 10%;
	width: 70%;
	margin-left: 20%;
	margin-top: 10%;
	text-align: center;
	padding: 20px 5px;
	font-size: 4vh;
	font-family: Cormorant Garamond, serif;
}
section#Romanticism{
	background-color: #0B1A2F;
	color: white;
	border: 4px solid #C4D5D1;
	height: 15%;
	width: 70%;
	margin-left: 20%;
	margin-top: 10%;
	text-align: center;
	padding: 20px 5px;
	font-size: 4vh;
	font-family: Cormorant Garamond, serif;
}
section#modern{
	background-color: #0B1A2F;
	color: white;
	border: 4px solid #C4D5D1;
	height: 20%;
	width: 70%;
	margin-left: 20%;
	margin-top: 10%;
	text-align: center;
	padding: 20px 5px;
	font-size: 4vh;
	font-family: Cormorant Garamond, serif;
}
